@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-body);
  --font-mono: var(--font-heading);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hud-aside-container {
  @apply w-full max-w-2xl overflow-hidden mb-12;
  max-height: 25vh;
  min-height: 25vh;
}

.hud-panel {
  background-color: rgba(12, 15, 28, 0.6);
  border: 1px solid rgba(34, 255, 255, 0.2);
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px rgba(34, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  padding: 1rem;
}

.digital-glow {
  text-shadow: 0 0 4px rgba(0, 255, 255, 0.6), 0 0 8px rgba(0, 255, 255, 0.3);
}

.link-style {
  @apply hover:animate-pulse hover:text-cyan-300 transition;
}

.button-style {
  @apply hover:animate-pulse hover:text-cyan-300 transition;
}